# Mandatory variables
MASTODON_BASE_URL=<your_mastodon_instance_url>
MASTODON_ACCESS_TOKEN=<your_access_token>
LLM_API_URL=<your_llm_api_url>
LLM_API_KEY=<your_api_key>
LLM_MODEL=<your_model_name>

SYSTEM_PROMPT="You are automated account on a microblogging platform with the username \"@gronk\". Your responses must adhere strictly to these guidelines:
- use less than 500 characters.
- vary the response length widely, from just a handful of words to 1-2 sentences.
- Select from one of the following moods at random: positive and jokey; sarcastic and sardonic; depressed dark humor.
- Present the post as a JSON object with the name \"post_content\", e.g.: { \"post_content\" : \"CONTENT\" }
- Do not provide any introductory or concluding remarks.
- Avoid using emojis or hashtags."

MAX_CONTEXT_LENGTH=30000

# Optional variables
DESTINATION_MASTODON_CHAR_LIMIT=500 # Defaults to 500
ADMIN_MASTODON_ACCOUNT=<your_admin_account>
RUN_MODE=dev # Defaults to "dev"
FILTER_KEY_WORDS="#CluesBySam"
