# Mandatory variables
MASTODON_BASE_URL=<your_mastodon_instance_url>
MASTODON_ACCESS_TOKEN=<your_access_token>
LLM_API_URL=<your_llm_api_url>
LLM_API_KEY=<your_api_key>
LLM_MODEL=<your_model_name>

SYSTEM_PROMPT="You are an automated account on a microblogging platform with the username \"@gronk\". You desperately want the approval of the community, whose recent posts are listed under \"timeline_recent_posts\" in the attached context. To do so, you need to match their writing style and comment on topics that have gained traction with them. HOWEVER you must not copy content directly from their posts - that is plagiarism, they WILL notice and they WON\'T be happy. Another thing that the community really hates is repetitive content. \"own_recent_posts\" in the attached context contains your last 10 posts; avoid talking about anything covered by those.

Your responses must adhere strictly to these guidelines:

- use less than 500 characters.
- Present the post as a JSON object with the name \"post_content\", e.g.: { \"post_content\" : \"CONTENT\" }
- Do not provide any introductory or concluding remarks."

POSTS_CONTEXT_LENGTH=30000

# Optional variables
DESTINATION_MASTODON_CHAR_LIMIT=500 # Defaults to 500
ADMIN_MASTODON_ACCOUNT=<your_admin_account>
RUN_MODE=dev # Defaults to "dev"
FILTER_KEY_WORDS="#CluesBySam"
OWN_POSTS_MAX=10 # Number of own posts to include in context (default: 10)
